.el-tabs {
  height: inherit;
}

.el-tabs__content {
  height: calc(100% - 55px);
}

.el-tab-pane {
  height: 100%;
}

.CodeMirror-placeholder {
  color: #c0c4cc!important;
}

.CodeMirror-lint-tooltip {
  z-index: 5000;
}

.CodeMirror pre, .CodeMirror-linenumber, .CodeMirror-gutter-elt {
  line-height: 21px!important;
}
